@import "tailwindcss";

.container{
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background-color:  #303E45 ;
}